.footer{
    width: 100%;
    text-align: center;
    height: 70px;
    position: absolute;
    bottom: 0px;
    background-color: #3380FF;
    p{
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }
}